<div class="row justify-content-evenly px-1 mb-2">
    <div class="col-1 text-bg-secondary d-flex align-items-center rounded text-center justify-content-center" style="aspect-ratio: 1/1">{{ guess.name|capitalize }}</div>
    {% if guess.color.1 == 1 %}
        {% set colorResult = 'text-bg-primary' %}
    {% endif %}
    {% if guess.color.1 == 0 %}
        {% set colorResult = 'text-bg-warning' %}
    {% endif %}
    {% if guess.color.1 == -1 %}
        {% set colorResult = 'text-bg-danger' %}
    {% endif %}
    <div class="col-1 {{ colorResult }} d-flex align-items-center rounded text-center justify-content-center" style="aspect-ratio: 1/1">{{ guess.color.0 }}</div>
    {% if guess.colorIdentity.1 == 1 %}
        {% set colorIdentityResult = 'text-bg-primary' %}
    {% endif %}
    {% if guess.colorIdentity.1 == 0 %}
        {% set colorIdentityResult = 'text-bg-warning' %}
    {% endif %}
    {% if guess.colorIdentity.1 == -1 %}
        {% set colorIdentityResult = 'text-bg-danger' %}
    {% endif %}
    <div class="col-1 {{ colorIdentityResult }} d-flex align-items-center rounded text-center justify-content-center" style="aspect-ratio: 1/1">{{ guess.colorIdentity.0 }}</div>
    <div class="col-1 {% if guess.cmc.1 %}text-bg-primary{% else %}text-bg-danger{% endif %} d-flex align-items-center rounded text-center justify-content-center" style="aspect-ratio: 1/1">{{ guess.cmc.0 }}</div>
    {% if guess.typeline.1 == 1 %}
        {% set typelineResult = 'text-bg-primary' %}
    {% endif %}
    {% if guess.typeline.1 == 0 %}
        {% set typelineResult = 'text-bg-warning' %}
    {% endif %}
    {% if guess.typeline.1 == -1 %}
        {% set typelineResult = 'text-bg-danger' %}
    {% endif %}
    <div class="col-1 {{ typelineResult }} d-flex align-items-center rounded text-center justify-content-center" style="aspect-ratio: 1/1">{{ guess.typeline.0 }}</div>
    <div class="col-1 {% if guess.power.1 %}text-bg-primary{% else %}text-bg-danger{% endif %} d-flex align-items-center rounded text-center justify-content-center" style="aspect-ratio: 1/1">
        {% if guess.power.0 is not null %}
            {{ guess.power.0 }}
        {% else %}
            None
        {% endif %}
    </div>
    <div class="col-1 {% if guess.toughness.1 %}text-bg-primary{% else %}text-bg-danger{% endif %} d-flex align-items-center rounded text-center justify-content-center" style="aspect-ratio: 1/1">
        {% if guess.toughness.0 is not null %}
            {{ guess.toughness.0 }}
        {% else %}
            None
        {% endif %}
    </div>
    <div class="col-1 {% if guess.loyalty.1 %}text-bg-primary{% else %}text-bg-danger{% endif %} d-flex align-items-center rounded text-center justify-content-center" style="aspect-ratio: 1/1">
        {% if guess.loyalty.0 is not null %}
            {{ guess.loyalty.0 }}
        {% else %}
            None
        {% endif %}
    </div>
    <div class="col-1 {% if guess.defense.1 %}text-bg-primary{% else %}text-bg-danger{% endif %} d-flex align-items-center rounded text-center justify-content-center" style="aspect-ratio: 1/1">
        {% if guess.defense.0 is not null %}
            {{ guess.defense.0 }}
        {% else %}
            None
        {% endif %}
    </div>
    <div class="col-1 {% if guess.rarity.1 %}text-bg-primary{% else %}text-bg-danger{% endif %} d-flex align-items-center rounded text-center justify-content-center" style="aspect-ratio: 1/1">{{ guess.rarity.0|capitalize }}</div>
    <div class="col-1 {% if guess.artist.1 %}text-bg-primary{% else %}text-bg-danger{% endif %} d-flex align-items-center rounded text-center justify-content-center" style="aspect-ratio: 1/1">{{ guess.artist.0 }}</div>
</div>