{% extends 'base.html.twig' %}

{% block title %}MagicDLE{% endblock %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    <main class="container py-5">
        {% if not success %}
            <form class="mb-5" role="inputCardName" action="{{ path("app_magicdle") }}">
                <div class="row">
                    <div class="col-12">
                        <label for="cardInput" class="form-label required">Enter a card name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <input class="form-control" type="text" aria-label="Input" name="cardInput" required="required">
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary" type="submit">Guess</button>
                    </div>
                </div>
            </form>
        {% endif %}

        <div class="row justify-content-evenly px-1 mb-2">
            <div class="col-1 text-bg-secondary d-flex align-items-center rounded text-center justify-content-center">Name</div>
            <div class="col-1 text-bg-secondary d-flex align-items-center rounded text-center justify-content-center">Color</div>
            <div class="col-1 text-bg-secondary d-flex align-items-center rounded text-center justify-content-center">Color identity</div>
            <div class="col-1 text-bg-secondary d-flex align-items-center rounded text-center justify-content-center">CMC</div>
            <div class="col-1 text-bg-secondary d-flex align-items-center rounded text-center justify-content-center">Typeline</div>
            <div class="col-1 text-bg-secondary d-flex align-items-center rounded text-center justify-content-center">Power</div>
            <div class="col-1 text-bg-secondary d-flex align-items-center rounded text-center justify-content-center">Toughness</div>
            <div class="col-1 text-bg-secondary d-flex align-items-center rounded text-center justify-content-center">Loyalty</div>
            <div class="col-1 text-bg-secondary d-flex align-items-center rounded text-center justify-content-center">Defense</div>
            <div class="col-1 text-bg-secondary d-flex align-items-center rounded text-center justify-content-center">Rarity</div>
            <div class="col-1 text-bg-secondary d-flex align-items-center rounded text-center justify-content-center">Artist</div>
        </div>
        {% for guess in guesses %}
            {{ include('magicdle/_guess.html.twig') }}
        {% endfor %}

        {% if success %}
            <h2>Correct! Today's card is {{ cardOfTheDay.name }}! </h2>
            <img src={{ cardOfTheDay.media.1.path }}>
        {% endif %}
    </main>
{% endblock %}
