{% extends 'base.html.twig' %}

{% block title %}Stats{% endblock %}

{% block body %}
    <main class="container py-5">
        <p class="text-muted">This site holds {{ totalNumberOfCards }} cards.</p>
        <p>The random set on show is: <h2>{{ randomSet.name }}</h2></p>
        <p class="text-muted">It was released on {{ releaseMonth }} {{ releaseDay }}, {{ releaseYear}} and contains {{ randomSet.cards | length }} cards, including:</p>
        <div class="row">
            {% for card in cards %}
                {% include '_card.html.twig' with {'col' : '2'} %}
            {% endfor %}
        </div>
    </main>
{% endblock %}
